<!-- Bootstrap core JavaScript-->
<script src="{{ site.baseurl }}/js/jquery-1.10.2.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/hc.js"></script>
<script src="{{ site.baseurl }}/js/push.min.js"></script>

<script src="{{ site.baseurl }}/js/react-0.12.2.js"></script>
<script src="{{ site.baseurl }}/js/JSXTransformer-0.12.2.js"></script>
<!--
<script type="text/jsx" src="{{ site.baseurl }}/js/hello.jsx"></script>
<script type="text/jsx" src="{{ site.baseurl }}/js/main.jsx"></script>
-->
